.sidebar-box {
  background-color: white;
  width: 210px;
  height: calc(100vh - 60px);
  margin-top: -60px;
  border-top-left-radius: 18px;
  padding: 20px;
}
.sidebar-tit {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}
.sidebar-menu {
  padding: 0px;
  list-style: none;
  margin: 0;
}
.sidebar-item {
  color: var(--c-font-muted);
  font-size: 15px;
  margin-bottom: 6px;
}
.sidebar-item a {
  display: flex;
  align-items: center;
  width: fit-content;
}
.sidebar-item:hover {
  color: var(--c-font-dark);
  cursor: pointer;
}
.sidebar-item span {
  margin-right: 8px;
}
@media only screen and (max-width: 767.5px) {
  .sidebar-box {
    width: 100%;
    height: 100%;
    margin-top: -75px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 16px 20px 8px;
  }
  .sidebar-tit {
    font-size: 15px;
    margin-bottom: 14px;
  }
  .sidebar-item {
    font-size: 13px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    width: fit-content;
  }
}
